html{
    background-color: #131515 ;
    font-size: 10px;
}

*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: pink;
}

header{
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

header .btn {
    margin-left: 10px;
margin-top: 10px;
    border-radius: 20px;
}

h1, h2, h3, h4 {
    margin-top: 10px;
}

h1{
    font-size: 30px;
    color:White;
    margin-bottom: 50px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}



.container {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container > *{
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.jCenter {
    justify-content: center;
}


.hidden {
    display: none;
}

.btn {
    font-size: 18px;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 1px solid #C077B5;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: #963484;
    border-radius: 20px;
}

.text-center {
    text-align: center;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    width: 200px;
    padding: 15px;
    font-size: 18px;
    border: none;

}